<div class="container">
  <div class="presentation-user">
    <img class="avatar" [src]="mary.avatar" alt="avatar" />
    <div class="text-user">
      <h2 class="user-name">
        {{ mary.firstName }} {{ mary.lastName | uppercase }}
      </h2>
      <button mat-button>Créer un ticket</button>
    </div>
  </div>
  <table class="links-tickets">
    <td>
      <a href="#">Tous les tickets</a>
    </td>
    <td>
      <a href="#">Tickets cursus</a>
    </td>
    <td>
      <a href="#">Tickets administration</a>
    </td>
  </table>
</div>
