<header class="presentation-user">
  <app-avatar [user]="mary"></app-avatar>
  <div class="text-user">
    <div class="user-name">
      <h2>{{ mary.firstName }} {{ mary.lastName | uppercase }}</h2>
      <p>Bordeaux - Angular</p>
    </div>
    <button
      [routerLink]="['/form']"
      routerLinkActive="router-link-active"
      mat-button
    >
      Créer un ticket
    </button>
  </div>
</header>
<div class="container">
  <app-tab [user]="mary"></app-tab>
  <app-ticket-list></app-ticket-list>
</div>
