body {
  width: 100%;
  color: #3b424e;
  font-family: "Raleway", sans-serif;

  background-color: #f9f9f9;
  margin-bottom: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 110px;
}

.presentation-user {
  padding: 32px 10%;
  display: flex;
  background-color: #f99797;
  color: white;
}

.user-name {
  margin-left: 16px;
}

.text-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  background-color: #ffd64f;
  color: #3b424e;

}

footer {
  width: 100%;
  background-color: white;
  padding: 4px 0;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  list-style: none;
  color: grey;
  margin: 0 16px 0 0;
}

footer a {
  text-decoration: none;
  color: grey;
}

footer a:hover {
  color: #3b424e;
}

.fa-heart {
  color: #f76c6c;
}
