<header class="presentation-user">
  <app-avatar [user]="user"></app-avatar>
  <div class="text-user">
    <div class="user-name">
      <h2>{{ user.firstname }} {{ user.lastname | uppercase }}</h2>
      <p>Bordeaux - Angular</p>
      <a (click)='deconnection()'>Déconnexion</a>
    </div>
    <button [routerLink]="['/form']"
      routerLinkActive="router-link-active"
      mat-button
    >
      Créer un ticket
    </button>
  </div>
</header>
<div class="container">
  <app-tab [user]="user" (tabChanged)="dealWithTabChanged($event)"></app-tab>
  <app-ticket-list [tickets]="tickets"></app-ticket-list>
</div>
<footer>
  <ul>
    <li>
      Made with
      <i class="fas fa-heart"></i>
      By Bdx Wilders sept 2019
    </li>
    <li>
      <a href="https://odyssey.wildcodeschool.com/mentions-legales">CGU</a>
    </li>
    <li>
      <a href="https://odyssey.wildcodeschool.com/utilisation-des-cookies"
        >COOKIES</a
      >
    </li>
    <li>@2019 v 1.0</li>
  </ul>
</footer>
