<form>
  <div class="example-container boxForm">
    <mat-form-field>
      <mat-select placeholder="Destinataire">
        <mat-option value="trainer">Formateur</mat-option>
        <mat-option value="admin">Campus manager</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sujet">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Ticket"></textarea>
    </mat-form-field>
    <button id='create' mat-flat-button color="Create">Créer</button>
  </div>

</form>
