.links-tickets {
  margin-top: 32px;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #f76c6c;
  text-align: center;
  padding: 12px 0;
  width: 33%;
}

.mat-tab-link {
  text-decoration: none;
  color: #3b424e;
}

a:hover {
  color: #f76c6c;
}

.linkActive {
  font-weight: 450;
  color: #3b424e;
  text-shadow: 2px 2px 3px #c8c8c8;
}
