// Container générale
.containerHTML{

  width:30vw;
  height:40vh;
  background-color: #f9f9f9;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px ;
  border:3px  #3B424E;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  background-color: #F9F9F9;
  box-shadow: 6px 6px 6px #C8C8C8;

}

// Div Name

.div-name > * {

  width:100%;

// Div Choice
}
.div-choice > *{
  width: 100%;
}

//Div password
.div-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

}


.div-password > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

// button
.mat-flat-button {
  background-color:#f76c6c;
  color: #f9f9f9;

}
