.containerHTML{
  border:2px solid red;
  width:30%;
  height:40%;
}

.div-password {
  display: flex;
  flex-direction: column;
}

.div-password > * {
  width: 80%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
