<mat-card class="ticket-card">
  <mat-card-header class="header">
    <img
      [src]="
        'https://avatars.githubusercontent.com/' + ticket.user.github + '?s=56'
      "
      alt="picture of the ticket owner"
      class="avatar"
    />
    <div class="name-cercle">
      <div class="name">
        <div mat-card-title class>{{ ticket.user.firstname }}</div>
        <mat-card-subtitle>{{ ticket.user.lastname }}</mat-card-subtitle>
      </div>
      <mat-card-content class="content">
        <div class="ticket-title">
          <h4>{{ ticket.title }}</h4>
        </div>
        <p>
          {{ ticket.description }}
        </p>
      </mat-card-content>
      <div class="status-circle {{ ticket.status }} "></div>
    </div>
  </mat-card-header>

  <div class="lastLine">
    <div class="creationDate">
      Crée le {{ ticket.createdAt | date: "medium" }}
    </div>
    <app-edit-button [ticket]="ticket"></app-edit-button>
  </div>
</mat-card>

<div class="test-card"></div>
