<mat-card class="ticket-card">
  <mat-card-header class="header">
    <div mat-card-avatar class="avatar"></div>
    <div class="name-cercle">
      <div class="name">
        <div mat-card-title class>John</div>
        <mat-card-subtitle>Lennon</mat-card-subtitle>
      </div>
      <div class="green-cercle"></div>
    </div>
  </mat-card-header>

  <mat-card-content class="content">
      <div class="ticket-title">
          <h4>{{ ticket.title }}</h4>
        </div>
    <p>
      {{ ticket.description }}
    </p>
  </mat-card-content>
  <div class="lastLine">
    <div class="creationDate">
      Crée le {{ ticket.createdAt | date: "medium" }}
    </div>
    <mat-card-actions class="button">
      <button class="Edit" mat-button>Editer</button>
      <button class="Delete" mat-button (click)="delete()">Suppprimer</button>
    </mat-card-actions>
  </div>
</mat-card>

<div class="test-card"></div>
